.footer {
    margin-top: 20px;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact {
    margin: 10px auto;
}

.contact_list {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}
.itens {
    text-decoration: none;
    color: #010221;
    transition: transform 0.3s; 
}
.itens:hover {
    color: #0A7373;
    transform: scale(1.2);
}

.copyRight {
    margin: auto;
}